<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>axome_git</name>
	<displayName><![CDATA[axome_git]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Permet de lister les derniers commits d\"un dépot GitHub .]]></description>
	<author><![CDATA[Dourneau Maxence]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
